html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}



#floating-panel1 {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  margin-left: -200px;
}

#one-all {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  margin-left: -152px;
}

#one-north {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  margin-left: -100px;
}

#one-south {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  margin-left: -20px;
}

#two-all {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  margin-left: 60px;
}

#two-north {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  margin-left: 110px;
}

#two-south {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;

  margin-left: 190px;
}
 div img.menu {
  position: absolute;
  z-index: 1;
 }

 div.one{
   position: absolute;
   z-index: 1;
   left: 200px;
   top: 2%;
 }

 div.two{
   position: absolute;
   z-index: 1;
   left: 300px;
   top: 2%;
 }
 div.three{
   position: absolute;
   z-index: 1;
   left: 400px;
   top: 2%;
 }
 div.four{
   position: absolute;
   z-index: 1;
   left: 500px;
   top: 2%;
 }
 div.five{
   position: absolute;
   z-index: 1;
   left: 600px;
   top: 2%;
 }
 div.six{
   position: absolute;
   z-index: 1;
   left: 700px;
   top: 2%;
 }
 div.shuttle{
   position: absolute;
   z-index: 1;
   left: 800px;
   top: 2%;
 }

 button#clear-markers {
   position: absolute;
   z-index: 1;
   left: 130px;
   top: 2%;
 }
