html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

 div.menu {
  position: absolute;
  z-index: 1;
 }

 div.nav {
   position: absolute;
   top: 1%;
   left: 10%;
   right: 10%;
   z-index: 5;
   width: 80%;
   height: 38px;
   background-color: black;
   display: none;
 }

 button.clear {
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 2%;
   height: 20px;
   background: #939393;
   color: white;
   border-radius: 6px;
   width: 85px;
   top: 20%;
 }

 button.transit {
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 2%;
   height: 20px;
   background: #939393;
   color: white;
   border-radius: 6px;
   width: 85px;
   top: 20%;
 }

 select.one{
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 2%;
   width: 85px;
   background: #434343;
   color: white;
   top: 20%;
 }

 select.two{
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 2%;
   width: 85px;
   background: #434343;
   color: white;
   top: 20%;
 }
 select.three{
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 2%;
   width: 85px;
   background: #434343;
   color: white;
   top: 20%;
 }
 select.four{
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 2%;
   width: 85px;
   background: #434343;
   color: white;
   top: 20%;
 }
 select.five{
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 2%;
   width: 85px;
   background: #434343;
   color: white;
   top: 20%;
 }
 select.six{
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 2%;
   width: 85px;
   background: #434343;
   color: white;
   top: 20%;
 }
 select.shuttle{
   position: relative;
   z-index: 1;
   margin-left: 1%;
   margin-right: 1%;
   width: 85px;
   background: #434343;
   color: white;
   top: 20%;
 }
