html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

 div.menu {
  position: absolute;
  z-index: 1;
  top: 1%;
  cursor: pointer;
  cursor: hand;
 }

 div.info {
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 1%;
  cursor: pointer;
  cursor: hand;
 }

 div.info-box {
   position: absolute;
   z-index: 5;
   top: 25%;
   right: 25%;
   left: 25%;
   bottom: 25%;
   border-style: outset;
   background: rgba(0,0,0,.8);
   color: white;
   overflow: scroll;
   height: 40%;
 }

 div.info-box h2 {
   text-align: center;
   text-decoration: underline;
 }

 div.info-box p {
   margin: 2%;
   font-size: 20px;
 }

 img.close{
   position: relative;
   z-index: 8;
   background-color: white;
   border-radius: 20px;
   float: right;
   height:28px;
   cursor: pointer;
   cursor: hand;
 }

 div.nav {
   position: absolute;
   top: 1%;
   left: 16%;
   right:1%;
   z-index: 5;
   width: 76%;
   background-color: black;
   display: none;
   background: rgba(0,0,0,.3);
   border-style: inset;
 }

 button.clear {
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #939393;
   color: white;
   border-radius: 6px;
   height: 25px;
   padding-top: 0px;
   padding-bottom: 2px;
 }

 button.transit {
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #939393;
   color: white;
   border-radius: 6px;
   height: 25px;
   padding-top: 0px;
   padding-bottom: 2px;
 }

 select.one{
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #434343;
   color: white;
   height: 25px;
 }

 select.two{
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #434343;
   color: white;
   height: 25px;
 }
 select.three{
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #434343;
   color: white;
   height: 25px;
 }
 select.four{
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #434343;
   color: white;
   height: 25px;
 }
 select.five{
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #434343;
   color: white;
   height: 25px;
 }
 select.six{
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #434343;
   color: white;
   height: 25px;
 }
 select.shuttle{
   position: relative;
   z-index: 1;
   margin: 0.5%;
   width: 85px;
   background: #434343;
   color: white;
   height: 25px;
 }











@media screen and (min-width: 320px) {
   div.nav {
     width: 85%;
     left: 15%;
   }
   div.info-box {
     top: 15%;
     left: 15%;
     right: 15%;
     height: 71%;
   }
}

@media screen and (min-width: 360px) {
   div.nav {
     width: 76%;
     left: 18%;
   }
   div.info-box {
     height: 55%;
   }
}

@media screen and (min-width: 375px) {
   div.nav {
     width: 73%;
     left: 19%;
   }
   div.info-box {
     top: 15%;
     left: 15%;
     right: 15%;
     height: 55%;

   }
}

@media screen and (min-width: 400px) {
   div.nav {
     width: 68%;
     left: 19%;
   }
}

@media screen and (min-width: 480px) {
   div.nav {
     width: 57%;
     left: 19%;
   }

   div.info-box {
     top: 9%;
     height: 80%;
   }
}

@media screen and (min-width: 568px) {
   div.nav {
     width: 48%;
     left: 27%;
   }
   div.info-box {
     top: 12%;
     height: 72%;
   }
}

@media screen and (min-width: 600px) {
   div.info-box {
     height: 30%;
   }
}

@media screen and (min-width: 640px) {
   div.nav {
     width: 43%;
     left: 27%;
   }
}

@media screen and (min-width: 768px) {
   div.nav {
     width: 80%;
     left: 9%;
   }
   div.info-box {
     top: 18%;
     height: 30%;
   }
}

@media screen and (min-width: 800px) {
   div.nav {
     width: 80%;
     left: 17%;
   }
   div.info-box {
     height: 30%;
   }
}

@media screen and (min-width: 960px) {
   div.nav {
     width: 92%;
     left: 7%;
   }
}

@media screen and (min-width: 1000px) {
   div.nav {
     width: 88%;
     left: 10%;
   }
}

@media screen and (min-width: 1160px) {
   div.nav {
     width: 72%;
     left: 17%;
   }
}

@media screen and (min-width: 1260px) {
   div.nav {
     width: 70%;
     left: 17%;
   }
}

@media screen and (min-width: 1280px) {
   div.nav {
     width: 69%;
     left: 17%;
   }
   div.info-box {
     height: 35%;
   }
}

@media screen and (min-width: 1440px) {
   div.nav {
     width: 61%;
     left: 20%;
   }
}

@media screen and (min-width: 1600px) {
   div.nav {
     width: 58%;
     left: 21%;
   }
   div.info-box {
     top: 15%;
     left: 25%;
     right: 25%;
     height: 15%;
   }
}
